/*
Asserts, Inc

Asserts Public API

API version: 2026.06.04-081556
Contact: support@asserts.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gcom

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// KubernetesEventsAPIService KubernetesEventsAPI service
type KubernetesEventsAPIService service

type ApiGetAllEventsRequest struct {
	ctx         context.Context
	ApiService  *KubernetesEventsAPIService
	tenant      *string
	start       *string
	end         *string
	limit       *string
	xScopeOrgID *string
}

func (r ApiGetAllEventsRequest) Tenant(tenant string) ApiGetAllEventsRequest {
	r.tenant = &tenant
	return r
}

// Start time (milliseconds since epoch)
func (r ApiGetAllEventsRequest) Start(start string) ApiGetAllEventsRequest {
	r.start = &start
	return r
}

// End time (milliseconds since epoch)
func (r ApiGetAllEventsRequest) End(end string) ApiGetAllEventsRequest {
	r.end = &end
	return r
}

// Maximum number of events to return
func (r ApiGetAllEventsRequest) Limit(limit string) ApiGetAllEventsRequest {
	r.limit = &limit
	return r
}

// Grafana Tenant/Stack ID
func (r ApiGetAllEventsRequest) XScopeOrgID(xScopeOrgID string) ApiGetAllEventsRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiGetAllEventsRequest) Execute() ([]InfraEventDto, *http.Response, error) {
	return r.ApiService.GetAllEventsExecute(r)
}

/*
GetAllEvents Get all Kubernetes events

Returns all Kubernetes events within a time range (for debugging)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAllEventsRequest
*/
func (a *KubernetesEventsAPIService) GetAllEvents(ctx context.Context) ApiGetAllEventsRequest {
	return ApiGetAllEventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []InfraEventDto
func (a *KubernetesEventsAPIService) GetAllEventsExecute(r ApiGetAllEventsRequest) ([]InfraEventDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []InfraEventDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KubernetesEventsAPIService.GetAllEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenant == nil {
		return localVarReturnValue, nil, reportError("tenant is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.end == nil {
		return localVarReturnValue, nil, reportError("end is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", r.tenant, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue string = ""
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEntityEventsRequest struct {
	ctx         context.Context
	ApiService  *KubernetesEventsAPIService
	tenant      *string
	entityType  *string
	entityName  *string
	start       *string
	end         *string
	namespace   *string
	env         *string
	site        *string
	limit       *string
	xScopeOrgID *string
}

func (r ApiGetEntityEventsRequest) Tenant(tenant string) ApiGetEntityEventsRequest {
	r.tenant = &tenant
	return r
}

// Entity type (e.g., Service, Pod)
func (r ApiGetEntityEventsRequest) EntityType(entityType string) ApiGetEntityEventsRequest {
	r.entityType = &entityType
	return r
}

// Entity name
func (r ApiGetEntityEventsRequest) EntityName(entityName string) ApiGetEntityEventsRequest {
	r.entityName = &entityName
	return r
}

// Start time (milliseconds since epoch)
func (r ApiGetEntityEventsRequest) Start(start string) ApiGetEntityEventsRequest {
	r.start = &start
	return r
}

// End time (milliseconds since epoch)
func (r ApiGetEntityEventsRequest) End(end string) ApiGetEntityEventsRequest {
	r.end = &end
	return r
}

// Namespace
func (r ApiGetEntityEventsRequest) Namespace(namespace string) ApiGetEntityEventsRequest {
	r.namespace = &namespace
	return r
}

// Environment/cluster
func (r ApiGetEntityEventsRequest) Env(env string) ApiGetEntityEventsRequest {
	r.env = &env
	return r
}

// Site
func (r ApiGetEntityEventsRequest) Site(site string) ApiGetEntityEventsRequest {
	r.site = &site
	return r
}

// Maximum number of events to return
func (r ApiGetEntityEventsRequest) Limit(limit string) ApiGetEntityEventsRequest {
	r.limit = &limit
	return r
}

// Grafana Tenant/Stack ID
func (r ApiGetEntityEventsRequest) XScopeOrgID(xScopeOrgID string) ApiGetEntityEventsRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiGetEntityEventsRequest) Execute() (*EntityEventsDto, *http.Response, error) {
	return r.ApiService.GetEntityEventsExecute(r)
}

/*
GetEntityEvents Get Kubernetes events for an entity

Returns Kubernetes change events associated with a specific entity within a time range

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetEntityEventsRequest
*/
func (a *KubernetesEventsAPIService) GetEntityEvents(ctx context.Context) ApiGetEntityEventsRequest {
	return ApiGetEntityEventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EntityEventsDto
func (a *KubernetesEventsAPIService) GetEntityEventsExecute(r ApiGetEntityEventsRequest) (*EntityEventsDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntityEventsDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KubernetesEventsAPIService.GetEntityEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/entity/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenant == nil {
		return localVarReturnValue, nil, reportError("tenant is required and must be specified")
	}
	if r.entityType == nil {
		return localVarReturnValue, nil, reportError("entityType is required and must be specified")
	}
	if r.entityName == nil {
		return localVarReturnValue, nil, reportError("entityName is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.end == nil {
		return localVarReturnValue, nil, reportError("end is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", r.tenant, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "entity_type", r.entityType, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "entity_name", r.entityName, "")
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "")
	} else {
		var defaultValue string = ""
		r.namespace = &defaultValue
	}
	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "")
	} else {
		var defaultValue string = ""
		r.env = &defaultValue
	}
	if r.site != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site", r.site, "")
	} else {
		var defaultValue string = ""
		r.site = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue string = ""
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
