/*
Asserts, Inc

Asserts Public API

API version: 2026.08.24-122123
Contact: support@asserts.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gcom

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// KnowledgeGraphReadAPIAPIService KnowledgeGraphReadAPIAPI service
type KnowledgeGraphReadAPIAPIService service

type ApiLookupConnectedEntitiesRequest struct {
	ctx           context.Context
	ApiService    *KnowledgeGraphReadAPIAPIService
	namespace     string
	type_         *string
	name          *string
	domain        *string
	connectedType *string
	limit         *int32
	offset        *int32
	xScopeOrgID   *string
}

func (r ApiLookupConnectedEntitiesRequest) Type_(type_ string) ApiLookupConnectedEntitiesRequest {
	r.type_ = &type_
	return r
}

func (r ApiLookupConnectedEntitiesRequest) Name(name string) ApiLookupConnectedEntitiesRequest {
	r.name = &name
	return r
}

func (r ApiLookupConnectedEntitiesRequest) Domain(domain string) ApiLookupConnectedEntitiesRequest {
	r.domain = &domain
	return r
}

// Restrict results to connected entities of this type
func (r ApiLookupConnectedEntitiesRequest) ConnectedType(connectedType string) ApiLookupConnectedEntitiesRequest {
	r.connectedType = &connectedType
	return r
}

func (r ApiLookupConnectedEntitiesRequest) Limit(limit int32) ApiLookupConnectedEntitiesRequest {
	r.limit = &limit
	return r
}

func (r ApiLookupConnectedEntitiesRequest) Offset(offset int32) ApiLookupConnectedEntitiesRequest {
	r.offset = &offset
	return r
}

// Grafana Tenant/Stack ID
func (r ApiLookupConnectedEntitiesRequest) XScopeOrgID(xScopeOrgID string) ApiLookupConnectedEntitiesRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiLookupConnectedEntitiesRequest) Execute() (*ConnectedEntitiesResponseDto, *http.Response, error) {
	return r.ApiService.LookupConnectedEntitiesExecute(r)
}

/*
LookupConnectedEntities Get entities connected to the entity with the given identity

Lists entities with at least one relationship to the anchor entity addressed by domain + type + name + exact scope; optionally filtered to one connected entity type. Expired connections are included with active: false. Results are ordered by name, with identity tiebreakers (type, domain, scope) for stable pagination.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Tenant namespace, formatted as stacks-<stackId>
	@return ApiLookupConnectedEntitiesRequest
*/
func (a *KnowledgeGraphReadAPIAPIService) LookupConnectedEntities(ctx context.Context, namespace string) ApiLookupConnectedEntitiesRequest {
	return ApiLookupConnectedEntitiesRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
	}
}

// Execute executes the request
//
//	@return ConnectedEntitiesResponseDto
func (a *KnowledgeGraphReadAPIAPIService) LookupConnectedEntitiesExecute(r ApiLookupConnectedEntitiesRequest) (*ConnectedEntitiesResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectedEntitiesResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeGraphReadAPIAPIService.LookupConnectedEntities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/kg.grafana.com/v1alpha1/namespaces/{namespace}/entities/connected"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if strlen(*r.type_) < 1 {
		return localVarReturnValue, nil, reportError("type_ must have at least 1 elements")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 1 {
		return localVarReturnValue, nil, reportError("name must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "")
	}
	if r.connectedType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connected_type", r.connectedType, "")
	} else {
		var defaultValue string = ""
		r.connectedType = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 25
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLookupEntityRequest struct {
	ctx         context.Context
	ApiService  *KnowledgeGraphReadAPIAPIService
	namespace   string
	type_       *string
	name        *string
	domain      *string
	xScopeOrgID *string
}

func (r ApiLookupEntityRequest) Type_(type_ string) ApiLookupEntityRequest {
	r.type_ = &type_
	return r
}

func (r ApiLookupEntityRequest) Name(name string) ApiLookupEntityRequest {
	r.name = &name
	return r
}

func (r ApiLookupEntityRequest) Domain(domain string) ApiLookupEntityRequest {
	r.domain = &domain
	return r
}

// Grafana Tenant/Stack ID
func (r ApiLookupEntityRequest) XScopeOrgID(xScopeOrgID string) ApiLookupEntityRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiLookupEntityRequest) Execute() (*EntityReadResponseDto, *http.Response, error) {
	return r.ApiService.LookupEntityExecute(r)
}

/*
LookupEntity Get one entity by its identity

Resolves a single entity by domain + type + name + exact scope (scope[key]=value query params). The scope must be the entity's complete scope; a subset of its scope keys does not match. Omit scope for scope-less entities and domain for the default telemetry domain.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Tenant namespace, formatted as stacks-<stackId>
	@return ApiLookupEntityRequest
*/
func (a *KnowledgeGraphReadAPIAPIService) LookupEntity(ctx context.Context, namespace string) ApiLookupEntityRequest {
	return ApiLookupEntityRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
	}
}

// Execute executes the request
//
//	@return EntityReadResponseDto
func (a *KnowledgeGraphReadAPIAPIService) LookupEntityExecute(r ApiLookupEntityRequest) (*EntityReadResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntityReadResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeGraphReadAPIAPIService.LookupEntity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/kg.grafana.com/v1alpha1/namespaces/{namespace}/entities"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if strlen(*r.type_) < 1 {
		return localVarReturnValue, nil, reportError("type_ must have at least 1 elements")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 1 {
		return localVarReturnValue, nil, reportError("name must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
