/*
Asserts, Inc

Asserts Public API

API version: 2025.11.24-113232
Contact: support@asserts.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gcom

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// StackMigrationControllerAPIService StackMigrationControllerAPI service
type StackMigrationControllerAPIService service

type ApiMigrateStackRequest struct {
	ctx               context.Context
	ApiService        *StackMigrationControllerAPIService
	stackMigrationDto *StackMigrationDto
	xScopeOrgID       *string
}

func (r ApiMigrateStackRequest) StackMigrationDto(stackMigrationDto StackMigrationDto) ApiMigrateStackRequest {
	r.stackMigrationDto = &stackMigrationDto
	return r
}

// Grafana Tenant/Stack ID
func (r ApiMigrateStackRequest) XScopeOrgID(xScopeOrgID string) ApiMigrateStackRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiMigrateStackRequest) Execute() (*http.Response, error) {
	return r.ApiService.MigrateStackExecute(r)
}

/*
MigrateStack Method for MigrateStack

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiMigrateStackRequest
*/
func (a *StackMigrationControllerAPIService) MigrateStack(ctx context.Context) ApiMigrateStackRequest {
	return ApiMigrateStackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *StackMigrationControllerAPIService) MigrateStackExecute(r ApiMigrateStackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StackMigrationControllerAPIService.MigrateStack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/stack/migrate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.stackMigrationDto == nil {
		return nil, reportError("stackMigrationDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	// body params
	localVarPostBody = r.stackMigrationDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
