/*
Asserts, Inc

Asserts Public API

API version: 2025.11.24-113232
Contact: support@asserts.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gcom

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DrilldownConfigMigrationControllerAPIService DrilldownConfigMigrationControllerAPI service
type DrilldownConfigMigrationControllerAPIService service

type ApiMigrateConfigsRequest struct {
	ctx                         context.Context
	ApiService                  *DrilldownConfigMigrationControllerAPIService
	drilldownConfigMigrationDto *DrilldownConfigMigrationDto
	xScopeOrgID                 *string
}

func (r ApiMigrateConfigsRequest) DrilldownConfigMigrationDto(drilldownConfigMigrationDto DrilldownConfigMigrationDto) ApiMigrateConfigsRequest {
	r.drilldownConfigMigrationDto = &drilldownConfigMigrationDto
	return r
}

// Grafana Tenant/Stack ID
func (r ApiMigrateConfigsRequest) XScopeOrgID(xScopeOrgID string) ApiMigrateConfigsRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiMigrateConfigsRequest) Execute() (*http.Response, error) {
	return r.ApiService.MigrateConfigsExecute(r)
}

/*
MigrateConfigs Method for MigrateConfigs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiMigrateConfigsRequest
*/
func (a *DrilldownConfigMigrationControllerAPIService) MigrateConfigs(ctx context.Context) ApiMigrateConfigsRequest {
	return ApiMigrateConfigsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DrilldownConfigMigrationControllerAPIService) MigrateConfigsExecute(r ApiMigrateConfigsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DrilldownConfigMigrationControllerAPIService.MigrateConfigs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/config/drilldown-migration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.drilldownConfigMigrationDto == nil {
		return nil, reportError("drilldownConfigMigrationDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	// body params
	localVarPostBody = r.drilldownConfigMigrationDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
