/*
Asserts, Inc

Asserts Public API

API version: 0.0.0
Contact: support@asserts.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kgwrite

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// KnowledgeGraphWriteAPIAPIService KnowledgeGraphWriteAPIAPI service
type KnowledgeGraphWriteAPIAPIService service

type ApiDeleteEntityRequest struct {
	ctx         context.Context
	ApiService  *KnowledgeGraphWriteAPIAPIService
	namespace   string
	type_       string
	name        string
	domain      *string
	scope       *map[string]string
	xScopeOrgID *string
}

func (r ApiDeleteEntityRequest) Domain(domain string) ApiDeleteEntityRequest {
	r.domain = &domain
	return r
}

// Optional scope key/value pairs identifying the entity (scope[key]&#x3D;value).
func (r ApiDeleteEntityRequest) Scope(scope map[string]string) ApiDeleteEntityRequest {
	r.scope = &scope
	return r
}

// Grafana Tenant/Stack ID
func (r ApiDeleteEntityRequest) XScopeOrgID(xScopeOrgID string) ApiDeleteEntityRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiDeleteEntityRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEntityExecute(r)
}

/*
DeleteEntity Delete a custom entity

Deletes an API-origin entity; only _origin=api objects may be deleted. The entity coordinates travel as query params (no request body): the top-level 'domain' control param plus an optional nested scope map (scope[key]=value).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Tenant namespace, formatted as stacks-<stackId>
	@param type_ Entity type
	@param name Entity name
	@return ApiDeleteEntityRequest
*/
func (a *KnowledgeGraphWriteAPIAPIService) DeleteEntity(ctx context.Context, namespace string, type_ string, name string) ApiDeleteEntityRequest {
	return ApiDeleteEntityRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		type_:      type_,
		name:       name,
	}
}

// Execute executes the request
func (a *KnowledgeGraphWriteAPIAPIService) DeleteEntityExecute(r ApiDeleteEntityRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeGraphWriteAPIAPIService.DeleteEntity")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/kg.grafana.com/v1alpha1/namespaces/{namespace}/entities/{type}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.domain == nil {
		return nil, reportError("domain is required and must be specified")
	}
	if strlen(*r.domain) < 1 {
		return nil, reportError("domain must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "")
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/x-yml", "application/x-yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteRelationshipRequest struct {
	ctx         context.Context
	ApiService  *KnowledgeGraphWriteAPIAPIService
	namespace   string
	type_       string
	fromDomain  *string
	fromType    *string
	fromName    *string
	toDomain    *string
	toType      *string
	toName      *string
	fromScope   *map[string]string
	toScope     *map[string]string
	xScopeOrgID *string
}

func (r ApiDeleteRelationshipRequest) FromDomain(fromDomain string) ApiDeleteRelationshipRequest {
	r.fromDomain = &fromDomain
	return r
}

func (r ApiDeleteRelationshipRequest) FromType(fromType string) ApiDeleteRelationshipRequest {
	r.fromType = &fromType
	return r
}

func (r ApiDeleteRelationshipRequest) FromName(fromName string) ApiDeleteRelationshipRequest {
	r.fromName = &fromName
	return r
}

func (r ApiDeleteRelationshipRequest) ToDomain(toDomain string) ApiDeleteRelationshipRequest {
	r.toDomain = &toDomain
	return r
}

func (r ApiDeleteRelationshipRequest) ToType(toType string) ApiDeleteRelationshipRequest {
	r.toType = &toType
	return r
}

func (r ApiDeleteRelationshipRequest) ToName(toName string) ApiDeleteRelationshipRequest {
	r.toName = &toName
	return r
}

// Optional scope key/value pairs identifying the &#39;from&#39; entity (from.scope[key]&#x3D;value).
func (r ApiDeleteRelationshipRequest) FromScope(fromScope map[string]string) ApiDeleteRelationshipRequest {
	r.fromScope = &fromScope
	return r
}

// Optional scope key/value pairs identifying the &#39;to&#39; entity (to.scope[key]&#x3D;value).
func (r ApiDeleteRelationshipRequest) ToScope(toScope map[string]string) ApiDeleteRelationshipRequest {
	r.toScope = &toScope
	return r
}

// Grafana Tenant/Stack ID
func (r ApiDeleteRelationshipRequest) XScopeOrgID(xScopeOrgID string) ApiDeleteRelationshipRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiDeleteRelationshipRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRelationshipExecute(r)
}

/*
DeleteRelationship Delete a custom relationship

Deletes an API-origin edge of the given type between the from/to entities. The endpoint coordinates travel as query params (no request body): from.domain/from.type/from.name (+ from.scope[key]=value) and the matching to.* params.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Tenant namespace, formatted as stacks-<stackId>
	@param type_ Relationship type
	@return ApiDeleteRelationshipRequest
*/
func (a *KnowledgeGraphWriteAPIAPIService) DeleteRelationship(ctx context.Context, namespace string, type_ string) ApiDeleteRelationshipRequest {
	return ApiDeleteRelationshipRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		type_:      type_,
	}
}

// Execute executes the request
func (a *KnowledgeGraphWriteAPIAPIService) DeleteRelationshipExecute(r ApiDeleteRelationshipRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeGraphWriteAPIAPIService.DeleteRelationship")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/kg.grafana.com/v1alpha1/namespaces/{namespace}/relationships/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fromDomain == nil {
		return nil, reportError("fromDomain is required and must be specified")
	}
	if strlen(*r.fromDomain) < 1 {
		return nil, reportError("fromDomain must have at least 1 elements")
	}
	if r.fromType == nil {
		return nil, reportError("fromType is required and must be specified")
	}
	if strlen(*r.fromType) < 1 {
		return nil, reportError("fromType must have at least 1 elements")
	}
	if r.fromName == nil {
		return nil, reportError("fromName is required and must be specified")
	}
	if strlen(*r.fromName) < 1 {
		return nil, reportError("fromName must have at least 1 elements")
	}
	if r.toDomain == nil {
		return nil, reportError("toDomain is required and must be specified")
	}
	if strlen(*r.toDomain) < 1 {
		return nil, reportError("toDomain must have at least 1 elements")
	}
	if r.toType == nil {
		return nil, reportError("toType is required and must be specified")
	}
	if strlen(*r.toType) < 1 {
		return nil, reportError("toType must have at least 1 elements")
	}
	if r.toName == nil {
		return nil, reportError("toName is required and must be specified")
	}
	if strlen(*r.toName) < 1 {
		return nil, reportError("toName must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from.domain", r.fromDomain, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "from.type", r.fromType, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "from.name", r.fromName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to.domain", r.toDomain, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to.type", r.toType, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to.name", r.toName, "")
	if r.fromScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from.scope", r.fromScope, "")
	}
	if r.toScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to.scope", r.toScope, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/x-yml", "application/x-yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpsertEntityRequest struct {
	ctx                   context.Context
	ApiService            *KnowledgeGraphWriteAPIAPIService
	namespace             string
	entityWriteRequestDto *EntityWriteRequestDto
	xScopeOrgID           *string
}

func (r ApiUpsertEntityRequest) EntityWriteRequestDto(entityWriteRequestDto EntityWriteRequestDto) ApiUpsertEntityRequest {
	r.entityWriteRequestDto = &entityWriteRequestDto
	return r
}

// Grafana Tenant/Stack ID
func (r ApiUpsertEntityRequest) XScopeOrgID(xScopeOrgID string) ApiUpsertEntityRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiUpsertEntityRequest) Execute() (*EntityWriteResponseDto, *http.Response, error) {
	return r.ApiService.UpsertEntityExecute(r)
}

/*
UpsertEntity Create or update a custom entity

Upserts an API-origin entity identified by (type, name, scope): 201 on create, 200 on update.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Tenant namespace, formatted as stacks-<stackId>; must match the request tenant
	@return ApiUpsertEntityRequest
*/
func (a *KnowledgeGraphWriteAPIAPIService) UpsertEntity(ctx context.Context, namespace string) ApiUpsertEntityRequest {
	return ApiUpsertEntityRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
	}
}

// Execute executes the request
//
//	@return EntityWriteResponseDto
func (a *KnowledgeGraphWriteAPIAPIService) UpsertEntityExecute(r ApiUpsertEntityRequest) (*EntityWriteResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntityWriteResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeGraphWriteAPIAPIService.UpsertEntity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/kg.grafana.com/v1alpha1/namespaces/{namespace}/entities"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.entityWriteRequestDto == nil {
		return localVarReturnValue, nil, reportError("entityWriteRequestDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-yml", "application/x-yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/x-yml", "application/x-yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	// body params
	localVarPostBody = r.entityWriteRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpsertRelationshipRequest struct {
	ctx                         context.Context
	ApiService                  *KnowledgeGraphWriteAPIAPIService
	namespace                   string
	relationshipWriteRequestDto *RelationshipWriteRequestDto
	xScopeOrgID                 *string
}

func (r ApiUpsertRelationshipRequest) RelationshipWriteRequestDto(relationshipWriteRequestDto RelationshipWriteRequestDto) ApiUpsertRelationshipRequest {
	r.relationshipWriteRequestDto = &relationshipWriteRequestDto
	return r
}

// Grafana Tenant/Stack ID
func (r ApiUpsertRelationshipRequest) XScopeOrgID(xScopeOrgID string) ApiUpsertRelationshipRequest {
	r.xScopeOrgID = &xScopeOrgID
	return r
}

func (r ApiUpsertRelationshipRequest) Execute() (*RelationshipWriteResponseDto, *http.Response, error) {
	return r.ApiService.UpsertRelationshipExecute(r)
}

/*
UpsertRelationship Create or update a custom relationship

Upserts an API-origin edge between two existing entities; both endpoints must already exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Tenant namespace, formatted as stacks-<stackId>
	@return ApiUpsertRelationshipRequest
*/
func (a *KnowledgeGraphWriteAPIAPIService) UpsertRelationship(ctx context.Context, namespace string) ApiUpsertRelationshipRequest {
	return ApiUpsertRelationshipRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
	}
}

// Execute executes the request
//
//	@return RelationshipWriteResponseDto
func (a *KnowledgeGraphWriteAPIAPIService) UpsertRelationshipExecute(r ApiUpsertRelationshipRequest) (*RelationshipWriteResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RelationshipWriteResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeGraphWriteAPIAPIService.UpsertRelationship")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/kg.grafana.com/v1alpha1/namespaces/{namespace}/relationships"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.relationshipWriteRequestDto == nil {
		return localVarReturnValue, nil, reportError("relationshipWriteRequestDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-yml", "application/x-yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/x-yml", "application/x-yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xScopeOrgID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Scope-OrgID", r.xScopeOrgID, "")
	}
	// body params
	localVarPostBody = r.relationshipWriteRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
